<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clubapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.Admin.manage_boards"></activity>
        <activity android:name="com.Admin.addBoard" />
        <activity android:name="com.Admin.adminActivity" />
        <activity android:name="com.Chats.message_between_users" />
        <activity android:name="com.Login.signUpActivity" />
        <activity android:name="com.Login.userProfileActivity" />
        <activity android:name="com.Support.SupportActivity" />
        <activity android:name="com.Rental.RentalMainActivity" />
        <activity android:name="com.Rental.CalendarActivity" />
        <activity android:name="com.Login.homeActivity" />
        <activity android:name="com.Login.Login" />
        <activity android:name="com.Chats.all_Members_Activity" />
        <activity android:name="com.Chats.messageActivity" />
        <activity
            android:name="com.Login.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotifyService" />
    </application>

</manifest>